<!-- https://kapeli.com/cheat_sheets/Font_Awesome.docset/Contents/Resources/Documents/index -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <img class="sidebar-card-illustration mb-2" src="assets/img/heatmap.svg" alt="..." style="height: 30px">
    <div class="sidebar-brand-text mx-3">IDS-NTA</div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dataloading"
       aria-controls="dataloading"
       (click)="collapse01.toggle()"
       [attr.aria-expanded]="!isDataLoadMenuCollapsed">
      <i class="fa fa-folder-open"></i>&nbsp;
      <span>Data Loading</span>
    </a>
    <div id="dataloading" class="collapse" #collapse01="ngbCollapse" [(ngbCollapse)]="isDataLoadMenuCollapsed">
      <div class="bg-lightgray py-2 collapse-inner rounded">
        <h6 class="collapse-header">Public Datasets:</h6>
        <a class="collapse-item" href="#" (click)="LoadCCIDS2017Raw()" [class.disabled]="this.dmService.dataLoaded">CICIDS2017 (raw)</a>
        <a class="collapse-item" href="#" (click)="LoadCCIDS2017DWT()" [class.disabled]="this.dmService.dataLoaded">CICIDS2017 (DWT)</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Tools
  </div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
<!--    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
<!--       aria-expanded="true" aria-controls="collapseTwo">-->
<!--      <i class="fas fa-fw fa-cog"></i>-->
<!--      <span>Export</span>-->
<!--    </a>-->
<!--    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--      <div class="bg-white py-2 collapse-inner rounded">-->
<!--        <h6 class="collapse-header">Custom Components:</h6>-->
<!--        <a class="collapse-item" href="buttons.html">Buttons</a>-->
<!--        <a class="collapse-item" href="cards.html">Cards</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->

  <!-- Nav Item - Utilities Collapse Menu -->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"-->
<!--       aria-expanded="true" aria-controls="collapseUtilities">-->
<!--      <i class="fas fa-fw fa-wrench"></i>-->
<!--      <span>Export</span>-->
<!--    </a>-->
<!--    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
<!--         data-parent="#accordionSidebar">-->
<!--      <div class="bg-white py-2 collapse-inner rounded">-->
<!--        <h6 class="collapse-header">Custom Utilities:</h6>-->
<!--        <a class="collapse-item" href="utilities-color.html">Colors</a>-->
<!--        <a class="collapse-item" href="utilities-border.html">Borders</a>-->
<!--        <a class="collapse-item" href="utilities-animation.html">Animations</a>-->
<!--        <a class="collapse-item" href="utilities-other.html">Other</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#exportData"
       aria-controls="exportData"
       (click)="collapse02.toggle()"
       [attr.aria-expanded]="!isExportMenuCollapsed">
      <i class="fa fa-floppy-disk"></i>&nbsp;
      <span>Exporting Data</span>
    </a>
    <div id="exportData" class="collapse" #collapse02="ngbCollapse" [(ngbCollapse)]="isExportMenuCollapsed">
      <div class="bg-lightgray py-2 collapse-inner rounded">
        <h6 class="collapse-header">Type:</h6>
        <a class="collapse-item" href="#" (click)="LoadCCIDS2017Raw()" [class.disabled]="this.dmService.dataLoaded">Selected Variables</a>
        <a class="collapse-item" href="#" (click)="LoadCCIDS2017Raw()" [class.disabled]="this.dmService.dataLoaded">Computed SL</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Settings
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"-->
<!--       aria-expanded="true" aria-controls="collapsePages">-->
<!--      <i class="fas fa-fw fa-folder"></i>-->
<!--      <span>Pages</span>-->
<!--    </a>-->
<!--    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
<!--      <div class="bg-white py-2 collapse-inner rounded">-->
<!--        <h6 class="collapse-header">Login Screens:</h6>-->
<!--        <a class="collapse-item" href="login.html">Login</a>-->
<!--        <a class="collapse-item" href="register.html">Register</a>-->
<!--        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
<!--        <div class="collapse-divider"></div>-->
<!--        <h6 class="collapse-header">Other Pages:</h6>-->
<!--        <a class="collapse-item" href="404.html">404 Page</a>-->
<!--        <a class="collapse-item" href="blank.html">Blank Page</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" (click)="SLDlg(SLattributeSelectionDialog)">
      <i class="fas fa-fw fa-chart-column"></i>
      <span>Subjective Logic</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-gears"></i>
      <span>t-SNE</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-cog fa-fw"></i>
      <span>UMAP</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="Hide();"></button>
  </div>

</ul>





<!-- Modal dialog -->
<ng-template #SLattributeSelectionDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Subjective Logic</h4>
<!--    <button type="button" class="close" aria-label="Close" (click)="SLDlg_Cancel()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
  </div>
  <div class="modal-body">
    <div class="row">
      <form>
        <div class="form-group row">
          <label for="W" class="col-sm-6 col-form-label">Non-informative prior weight (W): </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="W" (change)="changeWEvent($event)" value="{{SL_W}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="baserate" class="col-sm-6 col-form-label">Base rate (a<sub>x</sub>: prior probability): </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="baserate" (change)="changeBaseRateEvent($event)"  value="{{SL_baserate}}" >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="SLDlg_Update()">Update</button>
    <button type="button" class="btn btn-dark" aria-label="Cancel" (click)="modalSLDlg.close()">Cancel</button>
  </div>
</ng-template>
